@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

.slides {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20px;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

.content div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-height: 800px;
}

.content h1 {
  color: #fff;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 30px;
}

.content p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: white;
  width: 13px;
  height: 13px;
  margin-bottom: 40px !important;
}

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 65px;
    margin-bottom: 30px;
  }
  
  .content p {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .content div {
    height: 100vh;
    max-height: 700px;
  }
  .content h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 14px;
  }
}